{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <link href="{% static 'core/css/estilo.css' %}" rel="stylesheet" />
</head>

 {% block navbar %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">WadaTienda</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre mí</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Productos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Librería</a></li>
              <li><a class="dropdown-item" href="#">Deco</a></li>
              <li><a class="dropdown-item" href="#">Mates</a></li>
              <li><a class="dropdown-item" href="#">Juegos</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
{% endblock navbar %}


<body>
 {% block content %}

 {% endblock content %}
</body>


{% block footer %}
    <footer>
        <div>  
            <a href="https://api.whatsapp.com/message/7TFIK4WO6YJED1?autoload=1&app_absent=0" target="_blank"><img class="contact" src="./imagenes/logo-whatsapp-2048.png" alt="contacto"></a> 
          </div>
          <div>  
              <a href="https://www.instagram.com/wada.tienda/" target="_blank"><img class="contact" src="./imagenes/Logo-Instagram-PNG.png" alt="contacto"></a> 
          </div>
          <div>  
              <a href="https://www.facebook.com/GuadhaBostera" target="_blank"><img class="contact" src="./imagenes/facebook-logo-3.png" alt="contacto"></a>
          </div>
    </footer>
{% endblock footer %}

</html>