{% load static %} 


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Wada tienda es una página donde te ofrecemos productos de calidad y a buen precio.">
    <meta name="keywords"  content="productos, bazar, deco, hogar">
    <link rel="shortcut icon" href="./imagenes/favicon-32x32.png">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'static/estilo.css' %}>
    <title>Wadatienda✨</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
          <div class="container-fluid">
            <img class="logo" src="./imagenes/android-chrome-192x192.png" alt="Wadatienda">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"      data-bs-target="#navbarSupportedContent"aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="./index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./Views/sobreMi.html">Sobre mi</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="./Views/productos.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Productos
                  </a>
                   <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="./Views/bazar.html">Bazar</a></li>
                    <li><a class="dropdown-item" href="./Views/decoartesanal.html">Deco Artesanal</a></li>
                    <li><a class="dropdown-item" href="./Views/decohogar.html">Deco Hogar</a></li>
                    <li><a class="dropdown-item" href="./Views/mates.html">Mates</a></li>
                    <li><a class="dropdown-item" href="./Views/organizadores.html">Organizadores</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./Views/contacto.html">Contacto</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
    </header>   
        <div class="section-1 p-4">
        <h1 class="text-center">Bienvenidos a Wada tienda</h1>
        </div>
        <div class="section-2">
          <h2 class="text-center p-2">Sobre mi</h2>
              <p>
                Hola me llamo Guadalupe. Te invito a conocer  los productos con los que trabajamos, hablo en plural porque detrás de éste emprendimiento hay mucho amor, personas que me ayudan dándome una mano siempre. Este emprendimiento nace por decisiones que uno tiene que tomar en la vida. Soy feliz trabajando aquí. Vas a encontrar muchos productos para decorar y organizar tu hogar, cuidado y uso personal.
              </p>
        </div>
        <div class="section-3 p-5">
        <h2 class="text-center p-2">Algunos de nuestros productos</h2>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./imagenes/Deco artesanal.jpeg" class="d-block mx-auto" style="height: 470px; width: 300px;" alt="Decoartesanal">
            </div>
            <div class="carousel-item">
              <img src="./imagenes/Bazar (5).jpeg" class="d-block mx-auto" style="height: 470px; width: 300px;" alt="Bazar">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>
        </div>
    <footer>
      <div>  
        <a href="https://api.whatsapp.com/message/7TFIK4WO6YJED1?autoload=1&app_absent=0" target="_blank"><img class="contact" src="./imagenes/logo-whatsapp-2048.png" alt="contacto"></a> 
      </div>
      <div>  
          <a href="https://www.instagram.com/wada.tienda/" target="_blank"><img class="contact" src="./imagenes/Logo-Instagram-PNG.png" alt="contacto"></a> 
      </div>
      <div>  
          <a href="https://www.facebook.com/GuadhaBostera" target="_blank"><img class="contact" src="./imagenes/facebook-logo-3.png" alt="contacto"></a>
      </div>
          <!-- JavaScript Bundle with Popper -->
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
              integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
      </div>
    </footer>
</body>
</html>